App_Data/
App_Data/*.mdf
App_Data/*.ldf
node_modules/
artifacts/
wwwroot/dist/

# Visual Studio files
*.user
*.lock.json
.vscode/
.vs/
.nuget/
packages/
bin/
obj/

# Optimizely files
*license.config
modules/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini
